# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
venv/
env/

# Models (большие файлы — не пушим)
*.pth
*.pt

# Data
csv/*.csv
!csv/sample_submission.csv

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Colab
colab/*.pth