# Данные (важно!)
*.pth
*.pt
*.h5
*.ckpt
*.onnx
data_*/
data/
*.png
*.jpg
*.jpeg

# Python
__pycache__/
*.pyc
*.pyo
.Python
env/
venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
.DS_Store
